# Environment secrets
.env
**/.env
**/.env.*
!.env.example

# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/

# Node
**/node_modules/
**/npm-debug.log*

# IDE
.idea/
**/.idea/
*.iml

# OS
Thumbs.db
Desktop.ini
.vercel
.env*
